<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Give your comments</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="/css/styleFullView3.css">

  
</head>

<body>

    <div class="container clearfix">
      <div class="describe-list" id="describe-list">
          <div class="search">
            <input type="text" placeholder="search" />
            <i class="fa fa-search"></i>
          </div>


      <ul class="list">
        <li class="clearfix">

          <div class="about">
            <hr class="m-y-2">

            <div class="name">
            MARQUE : <i class="offline"> SAMSUNG </i></div>

            <div class="name">
            NOM DU PRODUIT : <i class="offline"> GALAXY S9</i></div>
        
            <div class="name">
            CATEGORIE : <i class="offline"> SMARTPHONE</i></div>

            <hr class="m-y-2">
    
            <div class="name">
            GENRE : <i class="offline"> MIXTE</i></div>

            <div class="name">
            TYPE DU PUBLIC : <i class="offline"> ADULTE</i></div>

            <hr class="m-y-2">

            <div class="name">
            COULEUR : <i class="offline"> ARGENT</i></div>

            <div class="name">
            RAM : <i class="offline"> 4 Go</i></div>
            
            <hr class="m-y-2">

            <div class="name">
            TELEPHONE : <i class="offline">ANDROID</i></div>

            <div class="name">
            DIAGONALE : <i class="offline">6,2 po</i></div>

            <hr class="m-y-2">

            <div class="name">
            FONCTIONNALITE : <i class="offline">DOUBLE CARTE SIM</i></div>

           <div class="name">
            CAPACITE : <i class="offline">64 go</i></div>
 
            <hr class="m-y-2">

            <div class="name">
            COMMUNICATION : <i class="offline">LTE</i></div>

            <div class="name">
            MEMOIRE FLASH : <i class="offline">microSD</i></div>

            <div class="name">
            sécurité : <i class="offline">Lecteur d'emprunte</i></div>
          
          </div>
        </li>  
       </ul>
      </div>
    <div class="chat">

      <div class="chat-header clearfix">
        <div class="phone-about">
          <div class="chat-with">GALAXY S9</div>
          
        
      </div> <!-- end chat-header -->
      <div>
        <img src="https://cdn.glitch.com/4c284753-ffc0-413c-b668-3bf97790dfde%2Fsamsung_galaxy_s9_2.jpeg?1536251394293"/>
        <div class="chat-num-messages"></div><i class="fa fa-star">  </i>

        <div class="logo">
          <i class="fa fa-comment">  see other comments and give yours</i>
        </div>
      </div>

        </div>
      
      <div class="chat-history">
        <ul>
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" >Sylla</span> <i class="fa fa-circle me"></i>

            </div>
            <div class="message other-message float-right">
              I don't know if it is true, but I feel that the battery still very hot when I whatch videos on Youtube with some applications opened in background, I think ot is a very normal use, so it doesn't have to be hot right? just pay attention to this problem, tell here if one of you have the same problem.
            </div>
          </li>
          
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Mansour</span>
              <span class="message-data-time">10:12 AM, Today</span>
            </div>
            <div class="message my-message">
              I agree, battery still very hot with normal use.  
            </div>
          </li>
          
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >10:14 AM, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" >Verdy</span> <i class="fa fa-circle me"></i>
              
            </div>
            <div class="message other-message float-right">
              I don't like the fact that samsung deletedthe jack 3.5 port to listen audio, Why do we have to change that? it works very well ! I never expected that Samsung delete this confortable device :(
            </div>
          </li>
          
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Elias</span>
              <span class="message-data-time">10:20 AM, Today</span>
            </div>
            <div class="message my-message">
              Very expensive to get the same performance that a xiaomi. so yo are paying the mark with this product.
            </div>
          </li>
          
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Baba</span>
              <span class="message-data-time">10:31 AM, Today</span>
            </div>
            <i class="fa fa-circle online"></i>
            <i class="fa fa-circle online" style="color: #AED2A6"></i>
            <i class="fa fa-circle online" style="color:#DAE9DA"></i>
          </li>
          
        </ul>
        
      </div> <!-- end chat-history -->
      
      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                
        <button>Send</button>

      </div> <!-- end chat-message -->
      
    </div> <!-- end chat -->
    
  </div> <!-- end container -->

<script id="message-template" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
      <span class="message-data-name" >Sylla</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">
      {{messageOutput}}
    </div>
  </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
  <li>
    <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Give your comments</span>
      <span class="message-data-time">{{time}}, Today</span>
    </div>
    <div class="message my-message">
      {{response}}
    </div>
  </li>
</script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script  src="/js/indexFullView3.js"></script>
</body>
</html>
