<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Leave your comments</title>
  
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>

      <link rel="stylesheet" href="/css/style.css">

  
</head>

<body>

  <title>Leave your comments</title>

<body>
    
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" id="home"> Leave your comments</a>
      </div>
    </div>
  </nav>
    
  <div class="container-fluid text-center">
    <div class="row" id="direction-section">
      <div class="col-md-8 col-md-offset-2">
        <h3 id="heading">LYC helps you choose the best products on the market and allows you to rate new products </h3>
        <hr class="m-y-2">
<!--        <button class="btn btn-primary text-center" id="logging-button"><i class="fa fa-f" aria-hidden="true"></i> sign in</button> -->
<!--        <form action="/index" method="post">
          <input class="btn btn-primary text-center" type="submit" value="Sign in" />
        </form> -->
        <a class="btn btn-primary text-center" href="/index">Log in</a>
      </div>
    </div>
  
    <div class="row text-center" id="quote-section">
      <div class="col-md-12 col-xs-12">
        <section id="quote" class="text-center"></section>
      </div>
    </div>

    <div class="row social-section">
        <div class="col-md-4 col-md-offset-4">
          <h3>Follow us !</h3>
          <hr class="m-y-2">
          <ul class="fa-ul">
            <li><a href="https://github.com/mfsylla" target="_blank"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="https://www.facebook.com/groups/1491212064527215/?fb_dtsg_ag=AdyZT0gjdysDz2WWFVZ0SlOKNFbO2YNSsk8PtHrFVJ3IIA%3AAdzn_tiTSCIAsHIEsDGa_vv3kZllyuKcWuqmPb_nTwV27Q" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
            <li><a  target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </div>

    <div class="row social-section">
      <div class="col-md-12">
            <a href="#home" id="to-top">To the top <span class="glyphicon glyphicon-chevron-up"></span></a>
            <p>Designed and created by: <a href="https://www.facebook.com/profile.php?id=100009441228531" target="_blank">Sylla & Arellano</a></p>
      </div>
    </div>
</div>

</body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>

  
    <script  src="/js/index.js"></script>


</body>

</html>
