<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login to GYC</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>

      <link rel="stylesheet" href="/css/styleForm.css">

  
</head>

<body>

  <header role="banner">
    <h1>Log in</h1>
</header>

<main role="main">
        <form action="/login" method="post">
  <!--  <form id="login-form" action="index.html" method="post"> -->
        <dl>
            <dt><label for="login-email">User name</label></dt>
            <dd>
                <input type="email" name="login_email" id="login-email" placeholder="Your user name" />
                <span id="email-error" class="error-msg">Please insert your user name</span>
            </dd>

            <dt><label for="login-password">Password</label></dt>
            <dd>
                <input type="password" name="login_password" id="login-password" placeholder="Your Password" />
                <span id="password-error" class="error-msg">Please insert your password</span>
            </dd>
        </dl>
        <p><input type="submit" name="login-submit" id="login-submit" value="Log In" /></p>
    </form>

</main>

<footer role="contentinfo">
    <p>All right reserved &copy; 2018</p>
</footer>
  
  

    <script  src="/js/indexForm.js"></script>




</body>

</html>
