<!DOCTYPE html>
<html lang="en" >

<head>
  <script src="https://unpkg.com/vue"></script>
  <meta charset="UTF-8">
  <title>GVC about cellphones</title>
  
  
  
      <link rel="stylesheet" href="/css/styleObject.css">

  
</head>

<body>

  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
  </head>

  <body>
    <div id="react">
    <div class="album text-muted">
      <div class="container">
        <div class="row">
          <div class="card">
            <img width="150px" src="https://cdn.glitch.com/4c284753-ffc0-413c-b668-3bf97790dfde%2FIphone_x.jpeg?1536181560129" alt="Card image cap">
            <p class="card-text">Apple's Iphone X, a mindset fully equiped with some breakthrough technology</p>
          </div>
          <div class="card">
            <img width="150px" src="https://cdn.glitch.com/4c284753-ffc0-413c-b668-3bf97790dfde%2Foneplus_6.jpeg?1536181560049" alt="Card image cap">
            <p class="card-text"> Smartphone OnePlus 6 4G 64Go ROM Version International 6Go de RAM Cam
397,08 €
fr.gearbest
Delivered for free
By Google </p>
          </div>
          <div class="card">
            <img width="150px" src="https://cdn.glitch.com/4c284753-ffc0-413c-b668-3bf97790dfde%2Fsamsung_galaxy_s9.jpeg?1536181560197" alt="Card image cap">
            <p class="card-text"> 🔥 good plan : the
Samsung Galaxy
S9 is available at
539 euros on  Darty and fnac.com
Fr Android</p>
          </div>
          <div class="card">
            <img width="150px" src="https://cdn.glitch.com/4c284753-ffc0-413c-b668-3bf97790dfde%2Fasus_zenfone_5z.jpeg?1536181560333" alt="Card image cap">
            <p class="card-text">Smartphone Asus ZenFone 5
357,28 €
Fnac
delivered for free
By Google.</p>
          </div>

          <!--------------Thumbs up & Thumbs_down with click to increase value---------->

          
          <!--------------Thumbs up & Thumbs_down------------------>     
                      
          <div class = "card-thumbs">
            <button v-on:click="counter1 += 1">
            <img width="75px" src="https://cdn.glitch.com/4c284753-ffc0-413c-b668-3bf97790dfde%2Fthumbs_up.png?1536181904241" />
            </button>
            <center> <p>{{ result_1_up }}</p> </center>
            <a class="goodComent" href="/fullView">Comment here</a>
          </div>
          <div class = "card-thumbs">
            <button v-on:click="counter2 += 1">
            <img width="75px" src="https://cdn.glitch.com/4c284753-ffc0-413c-b668-3bf97790dfde%2Fthumbs_down.png?1536181904349" />
            </button>
            <center> <p>{{ result_2_down }}</p></center>
            <a class = "badComent" href="/fullView_b">Comment here</a>
          </div>
          <div class = "card-thumbs">
            <button v-on:click="counter3 += 1">
            <img width="75px" src="https://cdn.glitch.com/4c284753-ffc0-413c-b668-3bf97790dfde%2Fthumbs_up.png?1536181904241" />
            </button>
            <center><p>{{ result_3_up }}</p></center>
            <a class = "goodComent" href="/fullView2">Comment here</a>
          </div>
          <div class = "card-thumbs">
            <button v-on:click="counter4 += 1">
            <img width="75px" src="https://cdn.glitch.com/4c284753-ffc0-413c-b668-3bf97790dfde%2Fthumbs_down.png?1536181904349" />
            </button>
            <center><p>{{ result_4_down }}</p></center>
            <a class = "badComent" href="/fullView2_b">Comment here</a>
          </div>
          <div class = "card-thumbs">
            <button v-on:click="counter5 += 1">
            <img width="75px" src="https://cdn.glitch.com/4c284753-ffc0-413c-b668-3bf97790dfde%2Fthumbs_up.png?1536181904241" />
            </button>
            <center><p>{{ result_5_up }}</p></center>
            <a class = "goodComent" href="/fullView3">Comment here</a>
          </div>
          <div class = "card-thumbs">
            <button v-on:click="counter6 += 1">
            <img width="75px" src="https://cdn.glitch.com/4c284753-ffc0-413c-b668-3bf97790dfde%2Fthumbs_down.png?1536181904349" />
            </button>
            <center><p>{{ result_6_down }}</p></center>
            <a class = "badComent" href="/fullView3_b">Comment here</a>
          </div>
          <div class = "card-thumbs">
            <button v-on:click="counter7 += 1">
            <img width="75px" src="https://cdn.glitch.com/4c284753-ffc0-413c-b668-3bf97790dfde%2Fthumbs_up.png?1536181904241" />
            </button>
            <center><p>{{ result_7_up }}</p></center>
            <a class = "goodComent" href="/fullView4">Comment here</a>
          </div>
          <div class = "card-thumbs">
            <button v-on:click="counter8 += 1">
            <img width="75px" src="https://cdn.glitch.com/4c284753-ffc0-413c-b668-3bf97790dfde%2Fthumbs_down.png?1536181904349" />
            </button>
            <center><p>{{ result_8_down }}</p></center>
            <a class = "badComent" href="/fullView4_b">Comment here</a>
          </div>
        </div> 
      </div>
      <a class="logout" href="/logout">Log out</a>
    </div>
  </div>
    <!--
<div id="react">
  <button @click="counter += 5">Increment</button>
  <p>{{ result }}</p>
</div>
    -->
<script>
  var number = new Vue({
  el: '#react',
  data: {
    counter1: 35,
    counter2: 10,
    counter3: 30,
    counter4: 9,
    counter5: 26,
    counter6: 6,
    counter7: 20,
    counter8: 15
  },
  computed: {
    result_1_up: function() {
      console.log(this.counter1);
      return this.counter1;
    },
    result_2_down: function() { 
      console.log(this.counter2);
      return this.counter2;
    },
    result_3_up: function() {
      console.log(this.counter3);
      return this.counter3;
    },
    result_4_down: function() {
      console.log(this.counter4);
      return this.counter4;
    },
    result_5_up: function() {
      console.log(this.counter5);
      return this.counter5;
    },
    result_6_down: function() {
      console.log(this.counter6);
      return this.counter6;
    },
    result_7_up: function() {
      console.log(this.counter7);
      return this.counter7;
    },
    result_8_down: function() {
      console.log(this.counter8);
      return this.counter8;
    }

  }
});
</script>


  </body>
</html>
  
  

</body>

</html>
